body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body > h1:first-child {
  text-align: center;
}

canvas, svg {
  display: block;
  border: 2px solid pink;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

svg > .state {
  fill: lightgrey;
  stroke: darkgrey;
  transition: stroke-width 0.1s;
}

svg > .state.active {
  stroke-width: 10pt;
}

svg > .transition {
  fill: green;
  stroke: green;
  transition: fill 0.1s, stroke 0.1s;
}

svg > .transition:hover {
  fill: blue;
  stroke: blue;
}
