body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body > h1:first-child {
  text-align: center;
}

canvas, svg {
  display: block;
  border: 2px solid pink;
  width: 75%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
}

.explaination {
  width: 75%;
  margin: 0 auto;
}

svg > .background {
  fill: white;
}

svg > .state {
  fill: lightgrey;
  stroke: darkgrey;
  transition: stroke-width 0.1s;
}

svg > .state.active {
  stroke-width: 10px;
}

svg > .transition {
  fill: green;
  stroke: green;
  transition: fill 0.1s, stroke 0.1s;
}

svg > .transition:hover {
  fill: blue;
  stroke: blue;
}

svg > .transition > .label {
  font-size: 25pt;
  text-anchor: middle;
  alignment-baseline: central;
}
svg > .state-name {
  font-size: 30pt;
  fill: black;
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
}
